* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #344a72;
  color: #fff;
  line-height: 1.5;
}

#container {
  margin: 15px auto;
  max-width: 500px;
  padding: 5px 30px;
}

.form-wrap {
  background: #f4f4f4;
  color: #333;
  padding: 10px 20px;
}
.form-wrap h2,
.form-wrap p {
  text-align: center;
}
.form-wrap .form-group {
  margin-top: 5px;
}
.form-wrap .form-group label {
  display: block;
  color: #666;
}
.form-wrap .form-group input,
.form-wrap .form-group textarea {
  width: 100%;
  padding: 5px;
}
.form-wrap .btn {
  display: block;
  width: 100%;
  background: #49c1a2;
  border-radius: 5px;
  color: #f4f4f4;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: medium;
}
.form-wrap button:hover {
  background: #37a08e;
}

footer {
  text-align: center;
  margin-top: 10px;
}
